* {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/banner.png);
  background-size: cover;
}
header div {
  width: 50%;
}
header div a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.7;
  display: inline-block;
}
header div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mao {
  width: 428px;
  height: 525px;
}
